
  
div{background-color:skyBlue; text-align:center; text-color:white;}

.main-story{background-color:white; height:100px; width:100px;}

img{height:50px; width:50px;}

h5{background-color:red; border-radius:25px; height:25px; width:100px;}

a{text-align:center; square:50px 50px; display:inline;}